<%= form_for(@standupdesk) do |f| %>
  <% if @standupdesk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standupdesk.errors.count, "error") %> prohibited this standupdesk from being saved:</h2>

      <ul>
      <% @standupdesk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :desklocation %>
    <%= f.text_field :desklocation, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :deskwant %>
    <%= f.check_box :deskwant %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
